$btn-link-color: rgb(94, 94, 94);
$btn-link-active-color: rgb(16, 16, 16);

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.btn-nav-link {
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 4px;
  margin-right: 4px;
  --bs-btn-color: var(--bs-gray-700);
  --bs-btn-hover-color: var(--bs-black);
}

.btn-nav-active-link {
  text-decoration: underline;
  --bs-btn-color: var(--bs-black);
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
}
